html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 9px;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: black;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.container {
  width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-lg-1, .col-xs-2, .col-lg-2, .col-xs-3, .col-lg-3, .col-xs-4, .col-lg-4, .col-xs-5, .col-lg-5, .col-xs-6, .col-lg-6, .col-xs-7, .col-lg-7, .col-xs-8, .col-lg-8, .col-xs-9, .col-lg-9, .col-xs-10, .col-lg-10, .col-xs-11, .col-lg-11, .col-xs-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}


/*---------------------*/
.owl-carousel img{
  max-width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.carousel-prev{
  position: absolute;
  z-index: 1;
  width: 32px;
  height: 34px;
  right: 47px;
  bottom: 33px;
  background-color: #fff;
  cursor: pointer;
}
.carousel-prev:before{
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border: 1px solid #acacac;
  border-left: 0;
  border-top: 0;
  margin-top: 15px;
  margin-left: 11px;
  -webkit-transform: rotate(135deg) translate(-50%, -50%);
          transform: rotate(135deg) translate(-50%, -50%)
}
.carousel-prev:hover{
  background-color: #eaeaeb;
}
.carousel-next{
  position: absolute;
  z-index: 8;
  width: 32px;
  height: 34px;
  margin-right: 15px;
  right: 0;
  bottom: 33px;
  cursor: pointer;
  background-color: #fff;
}
.carousel-next:before{
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border: 1px solid #acacac;
  border-left: 0;
  border-top: 0;
  margin-top: 15px;
  margin-left: 15px;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
          transform: rotate(-45deg) translate(-50%, -50%)
}
.carousel-next:hover{
  background-color: #eaeaeb;
}

* {
  padding: 0;
  font-family: 'Helvetica', Arial, sans-serif;
}

/* PAGE-HEADER */

.page-header {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid-page-header {
  padding: 0;
}

.page-header-main-wrapper {
  padding: 12px 0 11px;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-header-logo, .page-header-contacts-phone {
  display: inline-block;
}

.page-header-logo {
  display: inline-block;
  margin-left: -27px;
}

.page-header-menu-width {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 23%;
}

.page-header-nav-menu {
  padding-left: 67px;
  position: relative;
  left: 5%;
}

.page-header-nav-list {
  text-align: right;
}

.page-header-nav-item {
  display: inline-block;
  vertical-align: middle;
}

.page-header-nav-link {
  margin: 3px 0 0 7px;
  font-size: 16px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
}

/*MOBILE MENU*/

.toggler {
  display: block;
  float: right;
  padding-right: 40px;
}

.toggler span {
  width: 25px;
  height: 4px;
  background-color: #fff;
  position: relative;
  top: 12px;
  display: block;
  left: 50%;
  border-radius: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.toggler span:before,
.toggler span:after {
  content: '';
  display: block;
  background: #fff;
  width: 25px;
  height: 4px;
  position: absolute;
  border-radius: 5px;
}

.toggler span:before {
  top: -7px;
  -webkit-transition: top .2s;
  transition: top .2s;
}

.toggler span:after {
  top: 7px;
  -webkit-transition: top .2s;
  transition: top .2s;
}

.toggler-close span {
  background-color: transparent;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.toggler-close span:before {
  -webkit-transition: top .2s, -webkit-transform .2s .2s;
  transition: top .2s, -webkit-transform .2s .2s;
  transition: top .2s, transform .2s .2s;
  transition: top .2s, transform .2s .2s, -webkit-transform .2s .2s;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggler-close span:after {
  -webkit-transition: top .2s, -webkit-transform .2s .2s;
  transition: top .2s, -webkit-transform .2s .2s;
  transition: top .2s, transform .2s .2s;
  transition: top .2s, transform .2s .2s, -webkit-transform .2s .2s;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-nav {
  list-style: none;
  background-color: rgba(0,0,0,1);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 11%;
  right: 0;
  z-index: 2;
  display: none;
  padding: 10px 20px;
}

.mobile-nav-visible {
  display: inline-block;
}

.mobile-nav .main-nav-item {
  padding: 10px 20px;
  display: block;
}

.mobile-nav .main-nav-item a {
  color: #fff;
}

.page-header-contacts {
  margin-left: 15px;
  padding: 0 13px;
}

.page-header-contacts a {
  display: block;
  color: white;
}

.page-header-contacts-order {
  line-height: 30px;
  text-decoration: underline;
}

.page-header-contacts-phone {
  font-size: 12px;
  line-height: 14px;
}

.page-header-title {
  position: absolute;
  top: -121px;
  left: 20px;
  color: white;
  font-size: 79px;
  font-weight: 900;
  text-transform: uppercase;
}

/* PAGE-HEADER-MAIN */

.page-header-main {
  background-image: url(../img/page-header-main-background.jpg);
}

.service {
  padding: 170px 0 64px;
}

.service-item {
  display: inline-block;
  vertical-align: middle;
  max-width: 151px;
  position: relative;
  color: white;
  font-size: 12px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  list-style-type: none;
}

.service-item-row {
  margin-bottom: 6px;
}

.service-item-design {
  margin-left: 45px;
}

.service-item-improvement, .service-item-garden-care {
  padding-left: 0px;
}

.service-item-gardening {
  margin-left: 59px;
}

.service-item-gardening, .service-item-garden-care {
  margin-top: 100px;
}

.service-item-garden-care {
  margin-left: -4px;
}

.service-item:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 82px;
  position: absolute;
  top: -83px;
  background-repeat: no-repeat;
}

.service-item-design:before, .service-item-improvement:before, .service-item-gardening:before, .service-item-garden-care:before {
  width: 94px;
  height: 82px;
}

.service-item-design:before {
  background-image: url(../img/service-item-design-background.png);
  left: 18%;
}

.service-item-improvement:before {
  background-image: url(../img/service-item-improvement-background.png);
  left: 8%;
}

.service-item-gardening:before {
  background-image: url(../img/service-item-gardening-background.png);
  left: 7%;
}

.service-item-garden-care:before {
  background-image: url(../img/service-item-garden-care-background.png);
}

/* ABOUT */

.about {
  text-align: center;
  z-index: 2;
  position: relative;
  font-weight: 300;
  -webkit-background-size: cover;
  background-size: 375px 224px;
  background-repeat: repeat-x;
  background-image: url(../img/about-description-background.jpg);
}

.container-about {
  padding: 0;

}

.about-description {
  padding-bottom: 27px;
}

.about-slogan {
  margin-top: 7px;
  text-transform: uppercase;
  color: #0199ec;
  font-size: 20px;
}

.about-title {
  margin: 0 56px 21px;
  line-height: 18px;
}

.about-service {
  margin: 12px -2px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.advantages-item-title {
  margin: 0;
  padding: 22px 0;
  background-color: #eaeaeb;
  font-size: 12px;
  text-transform: uppercase;
}

/* PROJECTS */

.projects {
  padding-top: 7px;
}

.main-title {
  font-size: 20px;
  font-weight: 300;
}

.main-title-pond {
  margin: 35px 0;
  text-align: center;
}

.projects-text {
  color: #888;
  font-size: 12px;
}

.projects-text-pond {
  margin-left: 5px;
}

.projects-image-pond {
  margin: 20px 0 33px;
}

.projects-button {
  display: inline-block;
  color: white;
  background-color: #65abd0;
}

.projects-button-pond {
  padding: 12px 17px 10px;
  margin-bottom: 35px;
  font-size: 11px;
  line-height: 17px;
  -webkit-transform: translateX(125%);
  -ms-transform: translateX(125%);
  transform: translateX(125%);
}

.projects-description-sollutions {
  padding-left: 28px;
}

.main-title-sollutions {
  margin: 30px 0 27px;
}

.projects-button-sollutions {
  margin: 21px 0 15px;
  padding: 12px 15px 10px 14px;
  font-size: 11px;
  line-height: 16px;
}

.projects-image-sollutions {
  margin-top: 8px;
  padding: 0;
}

/* CONSULT */

.consult {
  background-color: #e5e5e5;
  padding-bottom: 31px;
}

.main-title-consult {
  margin: 27px 0 23px;
  padding: 0 34px;
  text-align: center;
}

.consult-form-text {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 10px;
}

.consult-form-email {
  padding-left: 6px;
}

.consult-form-email-input, .consult-form-btn {
  display: block;
  min-height: 33px;
  margin: 0 auto;
  font-size: 10px;
  line-height: 17px;
  border-radius: 3px;
  border: none;
}

.consult-form-email-input {
  min-width: 212px;
  margin-bottom: 11px;
  padding-left: 31px;
  color: #b4bbc2;
  background: url(../img/consult-form-email-input-background.png) no-repeat;
  background-color: white;
  background-position: 10px 50%;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.consult-form-btn {
  min-width: 116px;
  color: white;
  background-color: #65abd0;
}

/* CONTACTS */

.main-title-contacts {
  margin: 29px 0 11px;
  text-align: center;
}

.contacts-text {
  padding: 0 10px;
  text-align: center;
  color: #878787;
  font-size: 12px;
  line-height: 14px;
}

.contacts-text:first-child {
  padding: 0 32px;
  margin-bottom: 25px;
}

.contacts-image-wrapper {
  text-align: center;
}

.contacts-map {
  margin-top: 16px;
}

/* PAGE-FOOTER */

.page-footer {
  padding: 19px 0 26px;
}

.page-footer-social-network-btns {
  text-align: center;
}

.page-footer-social-network-item {
  display: inline-block;
}

.page-footer-social-network-link {
  display: inline-block;
  margin-left: 28px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/page-footer-icon-sprite.png);
  background-repeat: no-repeat;
}

.page-footer-social-network-link-fb {
  margin-left: 0;
  width: 6px;
  height: 14px;
  background-position: -29px -5px;
}

.page-footer-social-network-link-twitter {
  width: 14px;
  height: 11px;
  background-position: -5px -5px;
}

.page-footer-social-network-link-vk {
  width: 17px;
  height: 10px;
  background-position: -5px -29px;
}

@media (min-width: 1200px) {

  * {
    font-weight: 400;
  }

  /* PAGE-HEADER-MAIN */

  .page-header-main {
    background-image: url(../img/page-header-main-background-1200.jpg);
  }

  .page-header-main-wrapper {
    padding: 2px 0 1px;
  }

  .page-header-logo {
    margin-top: 21px;
    position: relative;
  }

  .page-header-logo-image {
    width: 72px;
    height: 72px;
  }

  .page-header-contacts {
    margin-top: 25px;
    margin-left: 58px;
    padding: 0;
  }

  .page-header-contacts-phone {
    font-size: 24px;
    line-height: 30px;
  }

  .page-header-title {
    top: -235px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 154px;
  }

  /* PAGE-HEADER-MAIN */

  .service {
    padding: 345px 0 162px;
  }

  .service-item {
    max-width: none;
    margin-right: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }

  .service-item-design {
    left: 14.5%;
  }

  .service-item-design, .service-item-gardening {
    margin-left: 0;
  }

  .service-item-improvement, .service-item-garden-care {
    padding-left: 15px;
  }

  .service-item-gardening, .service-item-garden-care {
    margin-top: 0;
  }

  .service-item:before {
    top: -118px;
  }

  .service-item-design:before, .service-item-improvement:before, .service-item-garden-care:before {
    width: 113px;
    height: 99px;
  }

  .service-item-gardening:before {
    width: 113px;
    height: 101px;
  }

  .service-item-design:before {
    background-image: url(../img/service-item-design-background-1200.png);
    left: 24%;
  }

  .service-item-improvement:before {
    background-image: url(../img/service-item-improvement-background-1200.png);
    left: 23%;
  }

  .service-item-gardening:before {
    background-image: url(../img/service-item-gardening-background-1200.png);
    left: 23%;
  }

  .service-item-garden-care:before {
    background-image: url(../img/service-item-garden-care-background-1200.png);
  }

  /* ABOUT */

  .about {
    margin-top: 16px;
    background-size: 1248px 356px;
    background-image: url(../img/about-description-background-1200.jpg);
  }

  .about-description {
    padding-bottom: 110px;
  }

  .about-slogan {
    margin: 24px 0 75px;
    font-size: 30px;
  }

  .about-title {
    padding: 0 44px;
    font-size: 18px;
  }

  .about-service {
    padding: 0 123px;
    font-size: 14px;
    font-weight: 400;
  }

  .advantages {
    margin-left: -40px;
    margin-right: -40px;
  }

  .advantages-item {
    padding: 0;
    min-width: 416px;
  }

  .advantages-item-image {
    min-width: 416px;
    height: 268px;
  }

  .advantages-item-title {
    padding: 30px 0;
    font-size: 16px;
  }

  /* PROJECTS */

  .projects {
    padding-top: 82px;
    margin-bottom: -122px;
  }

  .container-projects {
    padding: 0;
  }

  .projects-description-pond {
    padding: 0 41px 0 113px;
  }

  .main-title {
    font-weight: 400;
  }

  .main-title-pond, .main-title-sollutions {
    font-size: 30px;
  }

  .main-title-pond {
    text-align: left;
    opacity: 0.82;
    line-height: 18px;
  }

  .projects-text {
    font-size: 14px;
  }

  .projects-text-pond {
    margin-left: 0;
    line-height: 18px;
  }

  .projects-image-wrapper {
    margin-left: -26px;
    padding: 0;
    width: 103%;
    top: -193px;
  }

  .owl-carousel.owl-loaded {
    width: 50%;
  }

  .owl-carousel img {
    height: 339px;
  }

  .owl-carousel .owl-item img {
    width: 50%;
  }

  .projects-image-pond {
    min-width: 616px;
    height: 339px;
    position: relative;
    top: 0;
  }

  .carousel-prev, .carousel-next {
    width: 47px;
    height: 48px;
    bottom: 77px;
  }

  .carousel-prev {
    left: 523px;
  }

  .carousel-prev:before, .carousel-next:before {
    margin-top: 16px;
    height: 12px;
    width: 12px;
  }

  .carousel-prev:before {
    margin-left: 17px;
  }

  .carousel-next {
    left: 570px;
  }

  .carousel-next:before {
    margin-left: 24px;
  }

  .projects-button-pond-wrapper {
    height: 0;
  }

  .projects-button-pond, .projects-button-sollutions {
    font-size: 14px;
    line-height: 24px;
  }

  .projects-button-pond {
    padding: 14px 28px 10px;
    position: relative;
    top: -349px;
    left: 525px;
  }

  .projects-description-sollutions-row {
    margin-right: -65px;
    margin-top: 1px;
  }

  .projects-description-sollutions {
    padding-left: 77px;
    padding-top: 46px;
    padding-right: 121px;
    margin-left: -33px;
    top: -194px;
    background-image: url(../img/projects-description-sollutions-background-1200.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .projects-description-sollutions, .projects-image-sollutions {
    position: relative;
  }

  .main-title-sollutions {
    margin: 27px 0;
    line-height: 35px;
    opacity: 0.83;
    color: #020000;
  }

  .projects-text-sollutions {
    line-height: 17px;
  }

  .projects-button-sollutions {
    margin: 45px 0 5px;
    padding: 19px 23px 15px;
  }

  .projects-image-sollutions {
    min-width: 633px;
    height: 343px;
    top: -202px;
  }

  /* CONSULT */

  .consult-bg {
    width: 100%;
    min-height: 265px;
    background-image: url(../img/consult-background-1200.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .consult {
    padding: 15px 0 41px;
  }

  .main-title-consult {
    margin-bottom: 82px;
    font-size: 36px;
  }

  .consult-form-text {
    padding-right: 0;
    font-size: 14px;
  }

  .consult-form-email {
    padding-left: 10px;
  }

  .consult-form-email-input, consult-form-btn {
    border-radius: 5px;
  }

  .consult-form-email-input {
    min-width: 302px;
    min-height: 45px;
    padding-left: 45px;
    font-size: 13px;
    line-height: 23px;
    background: url(../img/consult-form-email-input-background-1200.png) no-repeat;
    background-position: 15px 50%;
    background-color: white;
  }

  .consult-form-btn {
    min-width: 176px;
    min-height: 47px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 24px;
  }

  /* CONTACTS */

  .contacts {
    margin-top: -26px;
  }

  .contacts-info {
    width: 646px;
    padding-bottom: 82px;
    position: relative;
    z-index: 2;
    top: 104px;
    right: 17px;
    background-color: white;
  }

  .main-title-contacts {
    margin-bottom: 17px;
    color: #878787;
    font-size: 48px;
    line-height: 18px;
  }

  .contacts-text {
    padding: 0 31px;
    font-size: 14px;
    line-height: 18px;
  }

  .contacts-text:first-child {
    padding: 0 57px;
    margin-bottom: 31px;
  }

  .contacts-text b {
    font-weight: 400;
  }

  .contacts-map {
    margin-top: 0;
    width: 100%;
    max-height: 459px;
  }

  .contacts-image-wrapper {
    padding: 0;
  }

  .contacts-image {
    width: 100%;
    max-height: 459px;
  }

  /* PAGE-FOOTER */

  .page-footer {
    padding: 5px 0 10px;
  }

  .page-footer-copyright, .page-footer-social-network-text {
    display: inline-block;
  }

  .page-footer-copyright {
    line-height: 36px;
  }

  .page-footer-social-network-text {
    float: left;
    margin-top: 22px;
    margin-left: 110px;
  }

  .page-footer-social-network-btns {
    margin-top: 25px;
  }

  .page-footer-social-network-link-vk {
    margin-left: 20px;
  }

}